{% include 'home/base.html' %}
{% load static %}
{% block content %}
<div class="okno">
    {% if not user.if_verified_email and not user.is_superuser or not user.is_staff %}
    <div class="errors">
            <h4>Почта не подтверждена!</h4>
            <h3 style="font-size:12px; margin:5px;">
                Для того чтобы оформить заказ, нужно потвердеть почту
            </h3>
            {% if not email_verify %}
            <h3 style="font-size:14px;">
                <a href="{% url 'users:send_email' user.id %}">Повторно отправить письмо на почту</a>
            </h3>
            {% else %}
            <h3 style="font-size:14px;">
                Письмо уже у вас на почте, повторить отправку через 5мин.
            </h3>
            {% endif %}
        </div>
    {% else %}
    <div class="basket">
        <h2>Корзина {% if baskets %} {{ baskets.total_quantity }} товара {% else %} пуста {% endif %}</h2>
        <div class="basket-cards">
            {% for basket in baskets %}
            <div class="basket-card">
                <div class="description">
                    <div class="">
                        <img src="{{ basket.product.image.url }}" width="200" alt="">
                    </div>
                    <div class="opisanie">
                        <h3>{{ basket.product.name }}</h3>
                        <p>{{ basket.product.description }}</p>
                        <p class='price-one'>{{ basket.product.price }}p./штука</p>
                    </div>
                </div>

                <div class="basket-price">
                    <h4 style="display: flex;align-items: center;">
                        Количество:
                        <a href="{% url 'products:basket_add'  basket.product.id %}">
                            <h1>+</h1></a>
                        {{ basket.quantity }}
                        <a href="{% url 'products:basket_down'  basket.product.id %}">
                            <h1>-</h1>
                        </a>
                    </h4>
                    <h4><a href="{% url 'products:basket_deleted'  basket.id %}">удалить</a></h4>
                    <h4>{{ basket.sum }} руб.</h4>
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="basket-result">
            <h3>Итог</h3>
            <h4> {{ baskets.total_sum }} руб.</h4>
        </div>
        <a href="{% url 'orders:order_create' %}" class="button"> Оформить заказ </a>
    </div>
    {% endif %}
</div>
{% endblock %}
