<!DOCTYPE html>
<html lang="rus" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/setting_css.css">

    <link rel="icon" type='img/png' href="static/img/logo.png">
    <title>Roselissa</title>
  </head>
  <body>

    <div class="container">
      <div class="header">
        <div class="header-menu okno">
          <a href="base.html">
            <h1>ROSELISSA</h1>
          </a>

          <div class="menu">
            <a href="products.html"> Католог </a>
            <a href="login.html"> Войти </a>

            <a href="basket.html">
              <img src="static/img/icons/basket.png" alt="Корзина"  width="30" height="30">
            </a>
            <div class="portfile">
              <img src="static/img/icons/user.png" width="20" height="20" alt="Профиль">
              <ul class='menu-portfile'>
                <li> <a href="profile.html">Профиль</a></li>
                <li><a href="orders.html"> Заказы </a></li>
                <li><a href="#"> Админ-панель </a></li>
                <li><a href="#"> Выйти </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="catalog okno">
        <div class="category">
          <a href="#">Категория</a>
          <a href="#">Категория</a>
          <a href="#">Категория</a>
          <a href="#">Категория</a>
          <a href="#">Категория</a>
        </div>

        <div class="pipa">
          <div class="products">
            <div class="card">
              <div class="card-img">
                <img src="static/img/product/product1.jpg" alt="">
              </div>
              <div class="card-okno">
                <h3>Название</h3>
                <h4>10 000 руб.</h4>
              </div>

              <a href="#" class="button card-button"> Купить </a>
            </div>
            <div class="card">
              <div class="card-img">
                <img src="static/img/product/product1.jpg" alt="">
              </div>
              <div class="card-okno">
                <h3>Название</h3>
                <h4>10 000 руб.</h4>
              </div>

              <a href="#" class="button card-button"> Купить </a>
            </div>
            <div class="card">
              <div class="card-img">
                <img src="static/img/product/product1.jpg" alt="">
              </div>
              <div class="card-okno">
                <h3>Название</h3>
                <h4>10 000 руб.</h4>
              </div>

              <a href="#" class="button card-button"> Купить </a>
            </div>
            <div class="card">
              <div class="card-img">
                <img src="static/img/product/product1.jpg" alt="">
              </div>
              <div class="card-okno">
                <h3>Название</h3>
                <h4>10 000 руб.</h4>
              </div>

              <a href="#" class="button card-button"> Купить </a>
            </div>
            <div class="card">
              <div class="card-img">
                <img src="static/img/product/product1.jpg" alt="">
              </div>
              <div class="card-okno">
                <h3>Название</h3>
                <h4>10 000 руб.</h4>
              </div>

              <a href="#" class="button card-button"> Купить </a>
            </div>
            <div class="card">
              <div class="card-img">
                <img src="static/img/product/product1.jpg" alt="">
              </div>
              <div class="card-okno">
                <h3>Название</h3>
                <h4>10 000 руб.</h4>
              </div>

              <a href="#" class="button card-button"> Купить </a>
            </div>
          </div>

          <div class="pagination">
            <ul>
              <li><a href="#">Назад</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">Вперед</a></li>
            </ul>
          </div>
        </div>



      </div>

    </div>





  </body>
</html>
