<!DOCTYPE html>
<html lang="rus" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/setting_css.css">

    <link rel="icon" type='img/png' href="static/img/logo.png">
    <title>Login</title>
  </head>
  <body>

    <div class="container">
      <div class="header">
        <div class="header-menu okno">
          <a href="base.html">
            <h1>ROSELISSA</h1>
          </a>

          <div class="menu">
            <a href="products.html"> Католог </a>
            <a href="login.html"> Войти </a>

            <a href="basket.html">
              <img src="static/img/icons/basket.png" alt="Корзина"  width="30" height="30">
            </a>
            <div class="portfile">
              <img src="static/img/icons/user.png" width="20" height="20" alt="Профиль">
              <ul class='menu-portfile'>
                <li> <a href="profile.html">Профиль</a></li>
                <li><a href="orders.html"> Заказы </a></li>
                <li><a href="#"> Админ-панель </a></li>
                <li><a href="#"> Выйти </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="okno">
        <div class="forma-login">
          <h2>Авторизация</h2>
          <form class="" action="index.html" method="post">
            <div class="form-input">
              <label for="">Имя пользователя</label>
              <input type="text" name="" value="" class="form-title">
            </div>
            <div class="form-input">
              <label for="">Пароль</label>
              <input type="password" name="" value="" class="form-title">
            </div>
            <button type="submit" name="button" class="button">Войти</button>

            <div class="social-icon">
              <a href="#"><img src="static/img/social/google.png" alt=""></a>
              <a href="#"><img src="static/img/social/vk.png" alt=""></a>
              <a href="#"><img src="static/img/social/github.png" alt=""></a>
            </div>

          </form>

          <p>Нет аккаунта?
          <a href="register.html"> Регистрация </a></p>
        </div>
      </div>
    </div>

  </body>
</html>
