{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<div class="okno">
    <div class="profile">
        {% if not user.if_verified_email %}
        <div class="errors">
            <h4>Почта не потверждена!</h4>
            <h3 style="font-size:12px; margin:5px;">
                Для того чтобы оформить заказ, нужно потвердить почту
            </h3>
            <h3 style="font-size:14px;">
                <a href="{% url 'users:send_email' user.email %}">Повторно отправить письмо на почту</a>
            </h3>
        </div>
        {% endif %}
        <div class="profile-img">
            <img src="{% if user.image %}
                        {{ user.image.url }}
                      {% else %}
                        {% static 'img/user.png' %}
                      {% endif %}" class="img-profile" width="200">
        </div>
        <form class="" action="{% url 'users:profile' user.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-input">
                <label for="{{ form.image.id_for_label }}">Изображение</label>
                {{ form.image }}
            </div>
            <div class="form-input">
                <label for="{{ form.image.id_for_label }}">Имя</label>
                {{ form.first_name }}
            </div>
            <div class="form-input">
                <label for="{{ form.last_name.id_for_label }}">Фамилия</label>
                {{ form.last_name }}
            </div>
            <div class="form-input">
                <label for="{{ form.username.id_for_label }}">Имя пользователя</label>
                {{ form.username }}
            </div>
            <div class="form-input">
                <label for="{{ form.email.id_for_label }}">Почта</label>
                {{ form.email }}
            </div>
            <button type="submit" name="button" class="button">Сохранить</button>
    </div>
</div>
{% endblock %}
