{% include 'home/base.html' %}

{% block content %}
<div class="okno">
    <div class="orders order-decor">
        <h1>Заказ #{{ object.id }}</h1>
        <table class="table">
            <thead>

            <tr class="table-light">
                <th scope="col">Название</th>
                <th scope="col">Кол-во</th>
                <th scope="col">Цена</th>
                <th scope="col">Сумма</th>
            </tr>
            </thead>
            <tbody>

            {% for purchased_item in object.basket_history.purchased_items %}
            <tr>
                <th scope="row">
                    {{ purchased_item.product_name }}
                </th>
                <td>{{ purchased_item.quantity }}</td>
                <td>{{ purchased_item.price }} руб.</td>
                <td>{{ purchased_item.sum }} руб.</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <p class="order-sum">Итого {{ order.basket_history.total_sum }} руб.</p>
        <a href="{% url 'orders:orders' %}">Назад</a>
    </div>
</div>
{% endblock %}