{% include 'home/base.html' %}

{% block content %}
<div class="okno">
    <div class="orders">
        <table class="table">
            <thead>
            <tr class="table-light">
                <th scope="col">#</th>
                <th scope="col">Статус</th>
                <th scope="col">Создан</th>
                <th scope="col">Итого</th>
                <th scope="col">Действие</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <th scope="row">36</th>
                <td>Оплачен</td>
                <td>2 месяца назад</td>
                <td>88 462,0 руб.</td>
                <td>
                    <a href="#">просмотреть</a>
                </td>
            </tr>

            <tr>
                <th scope="row">37</th>
                <td>Оплачен</td>
                <td>2 месяца назад</td>
                <td>115 523,0 руб.</td>
                <td>
                    <a href="#">просмотреть</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
{% endblock %}