<!DOCTYPE html>
<html lang="rus" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/setting_css.css">

    <link rel="icon" type='img/png' href="static/img/logo.png">
    <title>Roselissa</title>
  </head>
  <body>

    <div class="container">
      <div class="header">
        <div class="header-menu okno">
          <a href="base.html">
            <h1>ROSELISSA</h1>
          </a>

          <div class="menu">
            <a href="products.html"> Католог </a>
            <a href="login.html"> Войти </a>

            <a href="basket.html">
              <img src="static/img/icons/basket.png" alt="Корзина"  width="30" height="30">
            </a>
            <div class="portfile">
              <img src="static/img/icons/user.png" width="20" height="20" alt="Профиль">
              <ul class='menu-portfile'>
                <li> <a href="profile.html">Профиль</a></li>
                <li><a href="orders.html"> Заказы </a></li>
                <li><a href="#"> Админ-панель </a></li>
                <li><a href="#"> Выйти </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="okno">
          <div class="orders">
            <table class="table">
                <thead>
                  <tr class="table-light">
                    <th scope="col">#</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Создан</th>
                    <th scope="col">Итого</th>
                    <th scope="col">Действие</th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                      <th scope="row">36</th>
                      <td>Оплачен</td>
                      <td>2 месяца назад</td>
                      <td>88 462,0 руб.</td>
                      <td>
                          <a href="#">просмотреть</a>
                      </td>
                  </tr>

                  <tr>
                      <th scope="row">37</th>
                      <td>Оплачен</td>
                      <td>2 месяца назад</td>
                      <td>115 523,0 руб.</td>
                      <td>
                          <a href="#">просмотреть</a>
                      </td>
                  </tr>
                </tbody>
              </table>

          </div>
      </div>
    </div>


  </body>
</html>
